
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif !important;
}
.tab-list {  border-bottom: 1px solid #ccc;
    padding-left: 0;
}
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}
  
.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: grey;
}

.teams-div {
    width: 80%;
}
